*.class

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# IntelliJ Files #
*.iml
*.ipr
*.iws
.idea/

# Eclipse Files #
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# gradle-specific
.gradle/
build/
bin/
out/
gen/
android/libs/
